[submodule "mover/pwh-pwh/code/task6/sui_dapp_demo"]
	path = mover/pwh-pwh/code/task6/sui_dapp_demo
	url = git@github.com:pwh-pwh/sui_dapp_demo.git
[submodule "mover/pwh-pwh/code/get_flag_move"]
	path = mover/pwh-pwh/code/get_flag_move
	url = git@github.com:pwh-pwh/get_flag_move.git
