
.FormRoot {
	width: 300px;
}

.FormField {
	display: grid;
	margin-bottom: 20px;
}

.FormLabel {
	font-size: 15px;
	font-weight: 500;
	line-height: 35px;
	color: white;
}

.FormMessage {
	font-size: 13px;
	color: white;
	opacity: 0.8;
}

.Input {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-size: 15px;
	color: white;
	box-shadow: 0 0 0 1px var(--black-a6);
}

.Input:hover {
	box-shadow: 0 0 0 1px black;
}

.Input:focus {
	box-shadow: 0 0 0 2px black;
}

.Input::selection {
	background-color: var(--black-a6);
	color: white;
}

.Input {
	padding: 0 10px;
	height: 35px;
	line-height: 1;
}


.Button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	padding: 0 15px;
	font-size: 20px;
	line-height: 1;
	font-weight: 500;
	height: 50px;
	width: 100%;
	background-color: white;
	color: var(--blue-11);
	box-shadow: 0 2px 10px var(--black-a4);
}
